<div class="container">
    {{> navBar }}
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Travel Planner</h1>
        <p>Plan and Chronacle your journey!</p>
    </div>
<div class="row">
    {{> carousel}}
</div>
    <div class="container">
        <div class="row">
            <div class="col-3">{{> login}}</div>
        <div class="col-6"> some stuff</div>
        </div>
    </div>
</div>