<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div> © 2077 Copyright:</div>
                </div>
                <div class="col">
                    <div>Travel Planner</div>
                </div>
                <div class="col">
                    <div>Have plans? Let's travel!</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>