<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <header>
      <h1>Our Header Title Content Placeholder </h1>
      <nav>Some text in a nave element.</nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Footer
    </footer>
  </div>
</body>

</html>