<div class="col-xs-9" id="yui_patched_v3_18_1_1_1617325215701_775">

    <h1>Scheduler</h1>

    <ul class="nav nav-tabs" id="yui_patched_v3_18_1_1_1617325215701_774">
      <li id="yui_patched_v3_18_1_1_1617325215701_773"><a href="https://alloyui.com/tutorials/scheduler/" id="yui_patched_v3_18_1_1_1617325215701_772">Introduction</a></li>
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          
            <li class="active"><a href="https://alloyui.com/examples/scheduler/index.html">Basic Example</a></li>
            
        
      
        
          
            <li><a href="https://alloyui.com/examples/scheduler/real-world.html">Real World Example</a></li>
          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    </ul>

    <link rel="stylesheet" href="https://alloyui.com/scheduler/basic.css">

<div id="myScheduler" class="yui3-widget component scheduler-base"><div id="yui_patched_v3_18_1_1_1617325215701_175" class="scheduler-base-content yui3-widget-stdmod"><div class="yui3-widget-hd"><div class="row scheduler-base-hd"><div class="col-xs-7 scheduler-base-controls"><div class="btn-group" id="yui_patched_v3_18_1_1_1617325215701_726"><button aria-label="Go to Previous" "="" role="button" type="button" class="scheduler-base-icon-prev btn btn-default" tabindex="0" id="yui_patched_v3_18_1_1_1617325215701_727"><span class="glyphicon glyphicon-chevron-left"></span></button><button aria-label="Go to Today" role="button" type="button" class="scheduler-base-today btn btn-default" tabindex="-1" id="yui_patched_v3_18_1_1_1617325215701_728">Today</button><button aria-label="Go to Next" "="" role="button" type="button" class="scheduler-base-icon-next btn btn-default" tabindex="-1" id="yui_patched_v3_18_1_1_1617325215701_729"><span class="glyphicon glyphicon-chevron-right"></span></button></div><div class="scheduler-base-nav-date hidden-xs">February 03 — 09, 2013</div></div><div class="col-xs-5 form-inline scheduler-base-views yui3-widget btn-group btn-group-content" id="yui_patched_v3_18_1_1_1617325215701_253" aria-multiselectable="false" role="listbox"><button aria-label="View by Week" aria-pressed="true" type="button" class="hidden-xs scheduler-base-view scheduler-base-view-week btn-default btn active" data-view-name="week" id="yui_patched_v3_18_1_1_1617325215701_583" role="option" aria-selected="false" tabindex="0">Week</button><select class="form-control visible-xs" id="yui_patched_v3_18_1_1_1617325215701_706"><option aria-label="View by Week" aria-pressed="false" class="scheduler-base-view scheduler-base-view-week" data-view-name="week">Week</option></select></div></div></div><div class="yui3-widget-bd"><div class="scheduler-base-view-date visible-xs">February 03 — 09, 2013</div><div id="yui_patched_v3_18_1_1_1617325215701_107" class="yui3-widget component scheduler-view scheduler-view-day scheduler-view-week" style="height: 650px;"><div id="yui_patched_v3_18_1_1_1617325215701_109" class="scheduler-view-content scheduler-view-day-content scheduler-view-week-content yui3-widget-stdmod yui3-widget-content-expanded"><div class="yui3-widget-hd" style="padding-right: 17px;"><table cellspacing="0" cellpadding="0" class="scheduler-view-day-header-table" id="yui_patched_v3_18_1_1_1617325215701_127"><tbody><tr class="scheduler-view-day-header-col"><td class="scheduler-view-day-header-day scheduler-view-day-header-day-first" id="yui_patched_v3_18_1_1_1617325215701_612"></td><th class="scheduler-view-day-header-day" data-colnumber="0" id="yui_patched_v3_18_1_1_1617325215701_613"><a href="#"><span class="scheduler-view-day-header-day-weekday">Sun</span> <span class="scheduler-view-day-header-day-number">03</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="1" id="yui_patched_v3_18_1_1_1617325215701_614"><a href="#"><span class="scheduler-view-day-header-day-weekday">Mon</span> <span class="scheduler-view-day-header-day-number">04</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="2" id="yui_patched_v3_18_1_1_1617325215701_615"><a href="#"><span class="scheduler-view-day-header-day-weekday">Tue</span> <span class="scheduler-view-day-header-day-number">05</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="3" id="yui_patched_v3_18_1_1_1617325215701_616"><a href="#"><span class="scheduler-view-day-header-day-weekday">Wed</span> <span class="scheduler-view-day-header-day-number">06</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="4" id="yui_patched_v3_18_1_1_1617325215701_617"><a href="#"><span class="scheduler-view-day-header-day-weekday">Thu</span> <span class="scheduler-view-day-header-day-number">07</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="5" id="yui_patched_v3_18_1_1_1617325215701_618"><a href="#"><span class="scheduler-view-day-header-day-weekday">Fri</span> <span class="scheduler-view-day-header-day-number">08</span></a></th><th class="scheduler-view-day-header-day" data-colnumber="6" id="yui_patched_v3_18_1_1_1617325215701_619"><a href="#"><span class="scheduler-view-day-header-day-weekday">Sat</span> <span class="scheduler-view-day-header-day-number">09</span></a></th></tr></tbody></table><div id="yui_patched_v3_18_1_1_1617325215701_143" class="yui3-widget component scheduler-view scheduler-view-table" style="height: 40px;"><div id="yui_patched_v3_18_1_1_1617325215701_145" class="scheduler-view-content scheduler-view-table-content yui3-widget-stdmod yui3-widget-content-expanded"><div class="yui3-widget-hd"><table cellspacing="0" cellpadding="0" class="scheduler-view-table-header-table" id="yui_patched_v3_18_1_1_1617325215701_155"><tbody><tr class="scheduler-view-table-header-col"><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th><th class="scheduler-view-table-header-day"><div>&nbsp;</div></th></tr></tbody></table></div><div class="yui3-widget-bd scheduler-view-noscroll" id="yui_patched_v3_18_1_1_1617325215701_672" style="height: 40px;"><div class="scheduler-view-table-container" id="yui_patched_v3_18_1_1_1617325215701_158"><div class="scheduler-view-table-row-container"><div class="scheduler-view-table-row"><div class="scheduler-view-table-grid-container scheduler-view-table-grid-first" id="yui_patched_v3_18_1_1_1617325215701_282"><table cellspacing="0" cellpadding="0" class="scheduler-view-table-grid"><tbody><tr><td class="scheduler-view-table-colgrid scheduler-view-table-colgrid-first">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td><td class="scheduler-view-table-colgrid">&nbsp;</td></tr></tbody></table></div><table cellspacing="0" cellpadding="0" class="scheduler-view-table-data scheduler-view-table-data-first" id="yui_patched_v3_18_1_1_1617325215701_674"><tbody><tr><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title scheduler-view-table-data-col-title-first">3</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">4</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">5</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">6</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">7</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">8</td><td class="scheduler-view-table-data-col scheduler-view-table-data-col-title">9</td></tr></tbody></table></div></div></div></div></div><div id="yui_patched_v3_18_1_1_1617325215701_295" class="yui3-widget yui3-overlay yui3-widget-positioned yui3-widget-stacked yui3-overlay-hidden" style="width: 250px; left: 0px; top: 0px; z-index: 450;"><div id="yui_patched_v3_18_1_1_1617325215701_297" class="yui3-overlay-content yui3-widget-stdmod"><div class="yui3-widget-bd"><div class="scheduler-view-table-events-overlay-node"><div class="scheduler-view-table-events-overlay-node-body"></div><a href="javascript:;" class="scheduler-view-table-events-overlay-node-close">Close</a></div></div></div></div></div><span class="scheduler-view-day-header-view-label">All day</span></div><div class="yui3-widget-bd scheduler-view-scrollable" style="height: 577px;"><table cellspacing="0" cellpadding="0" class="scheduler-view-day-table" id="yui_patched_v3_18_1_1_1617325215701_125"><tbody><tr class="scheduler-view-colgrid" height="1"><td height="0" class="scheduler-view-day-table-col scheduler-view-day-table-colblank"></td><td class="scheduler-view-grid-container" colspan="7"><div class="scheduler-view-grid"><div class="scheduler-view-markers"><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div><div class="scheduler-view-markercell"><div class="scheduler-view-marker-division"></div></div></div></div></td></tr><tr class="scheduler-view-coldata" id="yui_patched_v3_18_1_1_1617325215701_493"><td class="scheduler-view-day-table-col scheduler-view-day-table-coltime" id="yui_patched_v3_18_1_1_1617325215701_747"><div class="scheduler-view-day-table-time">12am</div><div class="scheduler-view-day-table-time">1am</div><div class="scheduler-view-day-table-time">2am</div><div class="scheduler-view-day-table-time">3am</div><div class="scheduler-view-day-table-time">4am</div><div class="scheduler-view-day-table-time">5am</div><div class="scheduler-view-day-table-time">6am</div><div class="scheduler-view-day-table-time">7am</div><div class="scheduler-view-day-table-time">8am</div><div class="scheduler-view-day-table-time">9am</div><div class="scheduler-view-day-table-time">10am</div><div class="scheduler-view-day-table-time">11am</div><div class="scheduler-view-day-table-time">12pm</div><div class="scheduler-view-day-table-time">1pm</div><div class="scheduler-view-day-table-time">2pm</div><div class="scheduler-view-day-table-time">3pm</div><div class="scheduler-view-day-table-time">4pm</div><div class="scheduler-view-day-table-time">5pm</div><div class="scheduler-view-day-table-time">6pm</div><div class="scheduler-view-day-table-time">7pm</div><div class="scheduler-view-day-table-time">8pm</div><div class="scheduler-view-day-table-time" id="yui_patched_v3_18_1_1_1617325215701_746">9pm</div><div class="scheduler-view-day-table-time">10pm</div><div class="scheduler-view-day-table-time">11pm</div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="0" id="yui_patched_v3_18_1_1_1617325215701_129"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_655"></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="1" id="yui_patched_v3_18_1_1_1617325215701_130"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_657"><div class="scheduler-event scheduler-event-past" id="yui_patched_v3_18_1_1_1617325215701_647" style="background-color: rgb(150, 176, 228); border-color: rgb(255, 255, 255); border-style: solid; border-width: 2px; color: rgb(54, 108, 217); top: 52px; height: 208px; width: 95%; left: 0%;"><div class="scheduler-event-title">1<span>–  5</span></div><div class="scheduler-event-content">Event1</div><div class="scheduler-event-icons"><span class="glyphicon scheduler-event-icon-disabled"></span><span class="glyphicon scheduler-event-icon-meeting"></span><span class="glyphicon scheduler-event-icon-reminder"></span><span class="glyphicon scheduler-event-icon-repeated"></span></div></div></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="2" id="yui_patched_v3_18_1_1_1617325215701_131"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_663"></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="3" id="yui_patched_v3_18_1_1_1617325215701_132"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_665"></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="4" id="yui_patched_v3_18_1_1_1617325215701_133"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_667"></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="5" id="yui_patched_v3_18_1_1_1617325215701_134"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_669"></div></td><td class="scheduler-view-day-table-col scheduler-view-day-table-colday" data-colnumber="6" id="yui_patched_v3_18_1_1_1617325215701_135"><div class="scheduler-view-day-table-col-shim" id="yui_patched_v3_18_1_1_1617325215701_671"></div></td></tr></tbody></table></div></div></div></div></div></div>

<pre class="highlight"><code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myScheduler"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
<pre class="highlight"><code class="hljs javascript">YUI().use(
  <span class="hljs-string">'aui-scheduler'</span>,
  <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">Y</span>) </span>{
    <span class="hljs-keyword">var</span> events = [
      {
        <span class="hljs-attr">content</span>: <span class="hljs-string">'Event1'</span>,
        <span class="hljs-attr">endDate</span>: <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span>(<span class="hljs-number">2013</span>, <span class="hljs-number">1</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>),
        <span class="hljs-attr">startDate</span>: <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span>(<span class="hljs-number">2013</span>, <span class="hljs-number">1</span>, <span class="hljs-number">4</span>, <span class="hljs-number">1</span>)
      }
    ];

    <span class="hljs-keyword">var</span> eventRecorder = <span class="hljs-keyword">new</span> Y.SchedulerEventRecorder();
    <span class="hljs-keyword">var</span> weekView = <span class="hljs-keyword">new</span> Y.SchedulerWeekView();

    <span class="hljs-keyword">new</span> Y.Scheduler(
      {
        <span class="hljs-attr">boundingBox</span>: <span class="hljs-string">'#myScheduler'</span>,
        <span class="hljs-attr">date</span>: <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span>(<span class="hljs-number">2013</span>, <span class="hljs-number">1</span>, <span class="hljs-number">4</span>),
        <span class="hljs-attr">eventRecorder</span>: eventRecorder,
        <span class="hljs-attr">items</span>: events,
        <span class="hljs-attr">render</span>: <span class="hljs-literal">true</span>,
        <span class="hljs-attr">views</span>: [weekView]
      }
    );
  }
);</code></pre>

<script>
  YUI().use(
  'aui-scheduler',
  function(Y) {
    var events = [
      {
        content: 'Event1',
        endDate: new Date(2013, 1, 4, 5),
        startDate: new Date(2013, 1, 4, 1)
      }
    ];

    var eventRecorder = new Y.SchedulerEventRecorder();
    var weekView = new Y.SchedulerWeekView();

    new Y.Scheduler(
      {
        boundingBox: '#myScheduler',
        date: new Date(2013, 1, 4),
        eventRecorder: eventRecorder,
        items: events,
        render: true,
        views: [weekView]
      }
    );
  }
);
</script>

  </div>