<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">Travel Planner</a>
      </h1>
       <nav>
      <a href="/login">login</a>
    </nav>
    </header>
    <main>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>